.DesktopNav {
  position: -webkit-sticky;
  position: sticky;
  top: 1.5rem;
  z-index: 100;
  background-color: var(--bg-color-secondary-dark);
  backdrop-filter: blur(2.5rem);
  /* background-color: var(--bg-color-secondary-dark); */
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DesktopNav .NavBar-item {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color-main-dark);
}

.NavBar .NavBar-item:visited {
  color: inherit;
}